body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-top: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  td {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .mention-TB {
    background-color: #4CAF50;
    color: #fff;
  }
  
  .mention-B {
    background-color: #2196F3;
    color: #fff;
  }
  
  .mention-AB {
    background-color: #ff9800;
    color: #fff;
  }
  
  .mention-P {
    background-color: #f44336;
    color: #fff;
  }
  
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
  }
  